logging:
  level:
    root: WARN
    org:
      springframework:
        security: DEBUG

spring:
  jpa:
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: create
  profiles:
    active: development

  output:
    ansi:
      enabled: always

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    api-docs:
      path: /api-docs

sentry:
  dsn: https://3237ee606d65ea92cec854fd2ed747c8@o4510378102423552.ingest.de.sentry.io/4510378106355792
  # Add data like request headers and IP for users,
  # see https://docs.sentry.io/platforms/java/guides/spring-boot/data-management/data-collected/ for more info
  send-default-pii: true

rsa:
  private-key: classpath:certs/private.pem
  public-key: classpath:certs/public.pem